[submodule "src/ros2_rm_robot"]
	path = src/ros2_rm_robot
	url = https://github.com/RealManRobot/ros2_rm_robot.git
[submodule "src/ROS-TCP-Endpoint"]
	path = src/ROS-TCP-Endpoint
	url = https://github.com/Unity-Technologies/ROS-TCP-Endpoint.git
	branch = main-ros2
[submodule "rlds/rlds_dataset_builder"]
	path = rlds/rlds_dataset_builder
	url = https://github.com/kpertsch/rlds_dataset_builder.git
	branch = multithreaded
